@import url(../utils/general.css);
@import url(../utils/index.css);
@import url(../components/status-bar.css);
@import url(../components/navbar-bottom.css);
@import url(../components/movie.css);
@import url(../components/nav-top.css);
@import url(../components/play.css);


body{
    position: relative;
}
.wallpaper{
    position: absolute;
    top: 0;
    z-index: -1;
}
.play{
    margin-top: 293px;
}