@import url(../utils/index.css);
@import url(../components/status-bar.css);
@import url(../components/profile.css);


#animation{
    animation-name: pageLoad;
    animation-duration: 500ms;
}

@keyframes pageLoad {

    from{
        transform: scale(0.5);
        opacity: 0;
    }
    to{
        transition: scale(1);
        opacity: (1);
    }




}