.movie{
    display: flex;
    overflow: auto;

}

.movie img:first-child{
    margin-left: 12px;
}
.movie img:last-child{
    margin-right: 12px;
}

.movie img:not(last-child){
    margin-right: 7px;
}

.movie__img--small{
    width: 103px;
    height: 161px;
    border-radius: 2px;

}

.movie__img--big{
    width: 154px;
    height: 251px;
}

.movie__img--circle{
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 50%;
    width: 102px;
    height: 102px;
}