.search-movie__background{
    background-color: #424242;
}

.search-movie{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    margin-top: 3px;
}

.search-movie__play{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin: 0 auto;
}