body{
    background-color: black;
  
}

p,h1,h2,h3,span,strong{
    color: white;
    font-family: "roboto", arial, Arial, Helvetica, sans-serif;
}
.max-media{
    display: none;
    width: 90%;
    text-align: center;
    height: 100vh;
}
.max-media__text{
    font-size: 30px;
}
.logo-media{
    width: 100px;
    display: flex;
    margin-left: 200px;
}
.content{
    display: block;
}


@media screen and (min-width: 500px) {
    .max-media{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content{
        display:none;
    }
  }

